/* Position and sizing of burger button */
.bm-burger-button {
  z-index: 9991 !important;
  position: fixed;
  width: 34px;
  height: 21px;
  left: 3vh;
  top: 3vh;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: $menu-text;
  -webkit-animation: hueShift 26s infinite linear;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $menu-text;
  -webkit-animation: hueShift 26s infinite linear;
}

/* General sidebar styles */
.bm-menu {
  background: $menu-gradient;
  background-size: 666% 666%;
  background-position: top;
  padding: 2.5em 1.5em 0;
}

/* Wrapper for item list */
.bm-item-list {
  color: $menu-dark;
  padding: 0.9em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.1);
}

/* Morph shape necessary with bubble or elastic */
// .bm-morph-shape {
//   fill: #555;
// }

.menu-item {
  text-align: center;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: $menu-text;
  padding: 13px 21px;
  margin: 8px auto;
}

#sidebar {
  z-index: 9999 !important;
}
