@charset 'UTF-8';

@mixin xs {
  @media screen and (max-width: 499px) {
    @content;
  }
}
@mixin xs-thin {
  @media screen and (max-width: 499px) and (max-height: 309px) {
    @content;
  }
}
@mixin sm {
  @media screen and (max-width: 899px) and (min-width: 500px) {
    @content;
  }
}
@mixin sm-thin {
  @media screen and (max-width: 899px) and (min-width: 500px) and (max-height: 450px) {
    @content;
  }
}
@mixin md {
  @media screen and (max-width: 1299px) and (min-width: 900px) {
    @content;
  }
}
@mixin md-thin {
  @media screen and (max-width: 1299px) and (min-width: 900px) and (max-height: 675px) {
    @content;
  }
}
@mixin lg {
  @media screen and (min-width: 1300px) {
    @content;
  }
}
@mixin lg-thin {
  @media screen and (min-width: 1300px) and (max-height: 699px) {
    @content;
  }
}
@mixin mobile-portrait {
  @media only screen
  and (min-device-width: 299px)
  and (max-device-width: 749px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    @content;
  }
}
@mixin mobile-landscape {
  @media only screen
  and (min-device-width: 299px)
  and (max-device-width: 749px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    @content;
  }
}

@keyframes hueShift {
  0% {-webkit-filter: hue-rotate(180deg)}
  50% {-webkit-filter: hue-rotate(0deg)}
  100% {-webkit-filter: hue-rotate(180deg)}

  0% {-moz-filter: hue-rotate(180deg)}
  50% {-moz-filter: hue-rotate(0deg)}
  100% {-moz-filter: hue-rotate(180deg)}

  0% {-ms-filter: hue-rotate(180deg)}
  50% {-ms-filter: hue-rotate(0deg)}
  100% {-ms-filter: hue-rotate(180deg)}
}


html {
  @include xs {
    font-size: 8px;
  }
  @include xs-thin {
    font-size: 4px;
  }
  @include sm {
    font-size: 12px;
  }
  @include sm-thin {
    font-size: 8px;
  }
  @include md {
    font-size: 15px;
  }
  @include md-thin {
    font-size: 10px;
  }
  @include lg {
    font-size: 16px;
  }
  @include lg-thin {
    font-size: 12px;
  }
  @include mobile-portrait {
    font-size: 24px;
  };
  @include mobile-landscape {
    font-size: 10px;
  };
}

body {
  background: rgba(45, 45, 45, 1);
  -webkit-animation: hueShift 29s infinite linear;
  animation: hueShift 29s infinite linear;
}

a {
  text-decoration: none;
}

.block {
  right: 50%;
  top: 85%;
  font-size: 100%;
  justify-content: space-between;
  @include xs {
    top: 20px;
    right: 20px;
    height: 80%;
    flex-direction: column;
  }
  @include xs-thin {
    top: 0px;
    font-size: 200%;
  }
  @include sm {
    top: 20px;
    right: 40px;
    height: 62%;
    font-size: 162%;
    flex-direction: column;
  }
  @include sm-thin {
    top: 10px;
  }
  @include md {
    width: 339px;
    transform: translate(50%, 0);
  }
  @include md-thin {
    width: auto;
    top: 20px;
    right: 40px;
    height: 62%;
    flex-direction: column;
    transform: none;
    font-size: 162%;
  }
  @include lg {
    width: 362px;
    transform: translate(50%, 0);
  }
  @include lg-thin {
    top: 40px;
    right: 40px;
    height: 62%;
    width: auto;
    transform: none;
    font-size: 162%;
    flex-direction: column;
  }
  @include mobile-portrait {
    top: 80px;
    width: 555px;
    font-size: 150%;
    transform: translate(50%, 0);
  };
}

.footer {
  bottom: 1rem;
  @include xs {
    right: 20px;
    bottom: 20px;
    width: auto !important;
    font-size: 200%;
  }
  @include xs-thin {
    bottom: 10px;
  }
  @include sm {
    right: 40px;
    bottom: 2rem;
    width: auto !important;
    font-size: 125%;
  }
  @include sm-thin {
    font-size: 150%;
  };
  @include md-thin {
    right: 40px;
    width: auto !important;
    font-size: 150%;
  }
  @include lg-thin {
    right: 40px;
    width: auto !important;
    font-size: 125%;
  }
  @include mobile-portrait {
    bottom: 2rem;
    font-size: 120%;
    letter-spacing: -0.02rem
  };
}
