$color: rgba(169, 13, 255, 1);
$other-color: rgba(255, 255, 89, 1);
$lighter-color: rgba(154, 95, 186, 1);

$color-primary-0: #450A65;	// Main Primary color */
$color-primary-1: #68099D;
$color-primary-2: #550E7C;
$color-primary-3: #2F0446;
$color-primary-4: #1C0229;

$rgba-primary-0: rgba( 69, 10, 101, 1);	// Main Primary color */
$rgba-primary-1: rgba(104,  9, 157, 0.8);
$rgba-primary-2: rgba( 85, 14, 124, 0.9);
$rgba-primary-3: rgba( 47,  4, 70, 1);
$rgba-primary-4: rgba( 28,  2, 41, 1);

$bg-gradient-shift: -webkit-linear-gradient(162deg, $lighter-color, $color-primary-1, $other-color);

*, :before, :after {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
}

html {
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  border-top: 70em;
}

.shadow {
  color: $other-color;
   text-shadow: 0.3px 0.3px 0px $rgba-primary-4,
                0.6px 0.6px 0px $rgba-primary-3,
                0.9px 0.9px 0px $rgba-primary-0;
   transition: all 0.05s ease-out;
   -webkit-animation: hueShift 26s infinite linear;
   &:hover {
      position: relative;
      top: -1.8px;
      left: -1.8px;
      text-shadow: 0.3px 0.3px 0px $rgba-primary-4,
                   0.6px 0.6px 0px $rgba-primary-3,
                   0.9px 0.9px 0px $rgba-primary-3,
                   1.2px 1.2px 0px $rgba-primary-0,
                   1.5px 1.5px 0px $rgba-primary-2,
                   1.8px 1.8px 0px $rgba-primary-1;
   }
}

.wavy--shit {
  color: transparent;
  text-align: center;
  font-size: 6rem;
  font-weight: 100;
  letter-spacing: -.062em;
  background: $bg-gradient-shift;
  background-size: 666% 666%;
  -webkit-background-clip: text;
  -webkit-animation: gradwave 13s ease infinite;
}

.btn-custom {
  color: transparent;
  border: 2.5px solid $other-color;
  border-radius: 4px;
  line-height: 1.375;
  padding: .75rem 1.5rem;
  margin: .375rem;
  font-weight: 400;
  -webkit-animation: hueShift 26s infinite linear;
  &:hover {
    color: $other-color;

  }
}

@-webkit-keyframes gradwave {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}

@keyframes hueShift {
  0% {-webkit-filter: hue-rotate(180deg)}
  50% {-webkit-filter: hue-rotate(0deg)}
  100% {-webkit-filter: hue-rotate(180deg)}
}
