.wavy--shit {
  color: transparent;
  background: $bg-gradient;
  background-size: 666% 666%;
  -webkit-background-clip: text;
  -webkit-animation: gradwave 13s ease infinite;
}

.wavy--border {
  color: transparent;
  border: 2.5px solid $other-color;
  border-radius: 4px;
  line-height: 1.375;
  padding: .75rem 1.5rem;
  margin: .375rem;
  font-weight: 400;
  -webkit-animation: hueShift 26s infinite linear;
  &:hover {
    color: $other-color;

  }
}

.shadow {
  color: $menu-text;
   text-shadow: 0.5px 0.5px 0px $rgba-primary-3,
                1.0px 1.0px 0px $rgba-primary-3,
                1.5px 1.5px 0px $rgba-primary-4;
   transition: all 0.05s ease-out;
   &:hover {
      position: relative;
      top: -1.8px;
      left: -1.8px;
      text-shadow: 0.5px 0.5px 0px $rgba-primary-0,
                   1.0px 1.0px 0px $rgba-primary-3,
                   1.5px 1.5px 0px $rgba-primary-4,
                   2.0px 2.0px 0px $rgba-primary-4,
                   2.5px 2.5px 0px $rgba-primary-5,
                   3.0px 3.0px 0px $rgba-primary-5;
   }
}
