/**
 * Basic typography style for copy text
 */
 h1, h2, h3, h4, h5, h6 {
    // color: #313131;
    font-family: 'Fredericka the Great', cursive;
    font-weight: normal;
 }
 h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
   font-weight: inherit;
 }
 h1 {
   font-size: 5rem;
  //  line-height: 42px;
   margin-bottom: 12px;
 }
 h2 {
   font-size: 4rem;
  //  line-height: 36px;
   margin-bottom: 6px;
 }
 h3 {
   font-size: 22px;
  //  line-height: 30px;
   margin-bottom: 12px;
 }
 h4 {
   font-size: 20px;
  //  line-height: 30px;
   margin-bottom: 6px;
 }
 h5 {
   font-size: 18px;
  //  line-height: 30px;
 }
 h6 {
   font-size: 14px;
  //  line-height: 30px;
 }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  letter-spacing: -.062em;
  font-family: 'Fredericka the Great', cursive;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin: 0 0 30px 0;
  font-family: 'Montserrat', sans-serif;
}

.menu-item {
  font-size: 1.25rem;
  font-family: 'Fredericka the Great', cursive;
}
