$color: rgba(169, 13, 255, 1);
$other-color: rgba(255, 255, 89, 1);
$lighter-color: rgba(154, 95, 186, 1);

$color-primary-0: #450A65;	// Main Primary color */
$color-primary-1: #68099D;
$color-primary-2: #550E7C;
$color-primary-3: #2F0446;
$color-primary-4: #1C0229;

$rgba-primary-0: rgba( 69, 10, 101, 1);	// Main Primary color */
$rgba-primary-1: rgba(104,  9, 157, 0.8);
$rgba-primary-2: rgba( 85, 14, 124, 0.9);
$rgba-primary-3: rgba( 47,  4, 70, 1);
$rgba-primary-4: rgba( 28,  2, 41, 1);

$menu-transp: rgba(13, 13, 13, 0.8);
$menu-dark: rgba(42, 42, 42, 1);
$menu-text: #444FFF;


// used in wavy--shit
$bg-gradient: linear-gradient(162deg, $lighter-color, $color-primary-1, $other-color);


$menu-gradient: linear-gradient(13deg, $menu-transp, $menu-dark);

$background-grad: linear-gradient(to left top, #FFF, #EEE, 1%, #222);
